In [15]:
#051 리스트 생성
#2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

#순위	영화
#1	닥터 스트레인지
#2	스플릿
#3	럭키
영화순위 = ["닥터 스트레인지", "스플릿", "럭키"]
영화순위

['닥터 스트레인지', '스플릿', '럭키']

In [19]:
#052 리스트에 원소 추가
#051의 movie_rank 리스트에 "배트맨"을 추가하라.

영화순위 = ["닥터 스트레인지", "스플릿", "럭키"]
영화순위.append("배트맨")
영화순위

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [21]:
#053
#movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [37]:
#054
#movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [41]:
#055
#movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

del movie_rank[2]
del movie_rank[2]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [51]:
#056
#lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
#실행 예:
#>> langs
#['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

list = lang1 + lang2
list

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [57]:
#057
#다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]
#실행 예:
#max:  7
#min:  1

print("max: ", max(nums))
print("min: ",min(nums))

max:  7
min:  1

In [59]:
#058
#다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [63]:
#059
#다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

len(cook)

12

In [65]:
#060
#다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
avr = sum(nums)/len(nums)
avr

3.0

In [69]:
#061
#price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
가격 = price[1:]
가격

[100, 130, 140, 150, 160, 170]

In [83]:
#062
#슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [ ]:
#063
#슬라이싱을 사용해서 짝수만 출력하라.

#nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#실행 예:
#[2, 4, 6, 8, 10]

In [85]:
#064
#슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [87]:
#065
#interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']
#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

#출력 예시:
#삼성전자 Naver
interest[0],interest[2]

('삼성전자', 'Naver')

In [89]:
#066 join 메서드
#interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
#삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [91]:
#068 join 메서드
#interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [95]:
#069 문자열 split 메서드
#회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
#이를 interest 이름의 리스트로 분리 저장하라.

#실행 예시
#>> print(interest)
#['삼성전자', 'LG전자', 'Naver']

interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [99]:
#070 리스트 정렬
#리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]