In [1]:
# 161
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.
for i in range(100):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [3]:
# 162
# 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

# 2002
# 2006
# 2010
# ...
# 2042
# 2046
# 2050
# 참고) range의 세번 째 파라미터는 증감폭을 결정합니다.

# >> print(list(range(0, 10, 2)))
# [0, 2, 4, 6, 8]
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [7]:
# 163
# 1부터 30까지의 숫자 중 3의 배수를 출력하라.

# 3 
# 6 
# 9 
# 12 
# 15 
# 18 
# 21 
# 24 
# 27 
# 30
for num in range(3,31,3):
    print(num)

3
6
9
12
15
18
21
24
27
30

In [13]:
# 164
# 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라
for num in range(100):
    print(99-num, end ="")

9998979695949392919089888786858483828180797877767574737271706968676665646362616059585756555453525150494847464544434241403938373635343332313029282726252423222120191817161514131211109876543210

In [15]:
# 165
# for문을 사용해서 아래와 같이 출력하라.

# 0.0
# 0.1
# 0.2
# 0.3
# 0.4
# 0.5
# ...
# 0.9
for num in range(10):
    print(num/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [21]:
# 166
# 구구단 3단을 출력하라.

# 3x1 = 3
# 3x2 = 6
# 3x3 = 9
# 3x4 = 12
# 3x5 = 15
# 3x6 = 18
# 3x7 = 21
# 3x8 = 24
# 3x9 = 27
for num in range(10):
    # print(3, "X", num,  "=", 3*num)
    print(f"3 x {num} = {3*num}")

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [23]:
# 167
# 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

# 3x1 = 3
# 3x3 = 9
# 3x5 = 15
# 3x7 = 21
# 3x9 = 27

for num in range(1,10,2):
    print(f"3 x {num} = {3*num}")

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [29]:
# 168
# 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

# 합 : 55
num1 = 0
for num in range(1,11,):
    num1 += num
    print(num1)

1
4
9
16
25

In [31]:
# 169
# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

# 합: 25

num1 = 0
for num in range(1,11,2):
    num1 += num
    print(num1)

1
4
9
16
25

In [33]:
# 170
# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

num1 = 1
for num in range(1,11):
    num1 *=num
    print("곱: ",num1)

곱:  1
곱:  2
곱:  6
곱:  24
곱:  120
곱:  720
곱:  5040
곱:  40320
곱:  362880
곱:  3628800

In [39]:
# 171
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

 price_list = [32100, 32150, 32000, 32500]
# 32100
# 32150
# 32000
# 32500

for i in range(4):
    a = price_list[i]
    print(a)

IndentationError: unexpected indent (1052226129.py, line 4)

In [ ]:
# 172
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

# price_list = [32100, 32150, 32000, 32500]
# 0 32100
# 1 32150
# 2 32000
# 3 32500

for i in range(4):
    a = price_list[i]
    print(i,a)

In [41]:
# 173
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 3 32100
# 2 32150
# 1 32000
# 0 32500


for i in range(4):
    a = price_list[i]
    print(3-i,a)

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 100 32150
# 110 32000
# 120 32500

for i in range(1,4):
    a = price_list[i]
    
    print(i,a)

In [47]:
# 175
# my_list를 아래와 같이 출력하라.

#my_list = ["가", "나", "다", "라"]
# 가 나
# 나 다
# 다 라
for han in range(3):
    print(my_list[han:han+2])

NameError: name 'my_list' is not defined

In [ ]:
# 176
# 리스트를 아래와 같이 출력하라.

# my_list = ["가", "나", "다", "라", "마"]
# 가 나 다
# 나 다 라
# 다 라 마

In [ ]:
# 177
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

 my_list = ["가", "나", "다", "라"]
# 라 다
# 다 나
# 나 가
for han in range(len(my_list)-1):
    print(my_list[han[]

In [51]:
# 178
# 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]
# 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

# 100
# 200
# 400

for d in range(3):
    print(my_list[d+1]-my_list[d])

100
200
400

In [53]:
# 179
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]
# 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

# 233.33333333333334
# 466.6666666666667
# 733.3333333333334
# 1033.3333333333333

for i in range(4):
    print((my_list[i+1] + my_list[i] + my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [57]:
# 180
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

# for v in range(5):
#     a
#     print(high_prices[v] - low_prices[v], end = " ")

# volatility = []
# for i in range(5) :
#     volatility.append(high_prices[i] - low_prices[i])
#     print( volatility)

volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])

[50]
[50, 100]
[50, 100, 30]
[50, 100, 30, 80]
[50, 100, 30, 80, 0]

In [69]:
# 181
# 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

# 101호	102호
# 201호	202호
# 301호	302호
ho = ['101호', '102호', '201호', '202호', '301호', '302호']
appart[]
for i in rage(0,6,2):
    appart.append(ho[i:i+2])
    print(appart)

SyntaxError: invalid syntax (3626407448.py, line 8)

In [73]:
# 182
# 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

# 시가	종가
# 100	80
# 200	210
# 300	330
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [75]:
# 183
# 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

# 시가	종가
# 100	80
# 200	210
# 300	330
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [79]:
# 184
# 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

# 10/10	80	110	70	90
# 10/11	210	230	190	200
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 200] }
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 200]}

In [85]:
# 185
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
print(apart[0][0], "호")

101 호

In [87]:
# 186
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [89]:
# 187
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [91]:
# 188
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# -----
# 102 호
# -----
# 201 호
# -----
# 202 호
# -----
# 301 호
# -----
# 302 호
# -----
for row in apart:
    for col in row:
        print(col, "호")
        print("----")

 for col in row:
        print(col, "호")

101 호
----
102 호
----
201 호
----
202 호
----
301 호
----
302 호
----

In [93]:
# 189
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호
# -----
for row in apart:
    for col in row:
        print(col, "호")
    print("----")

101 호
102 호
----
201 호
202 호
----
301 호
302 호
----

In [95]:
# 190
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
# -----
for row in apart:
    for col in row:
        print(col, "호")
print("----")

101 호
102 호
201 호
202 호
301 호
302 호
----

In [111]:
# 191
# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

 

# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

# 2000.28
# 3050.427
# 2050.2870000000003
# ...
data = [[ 2000,  3050,  2050,  1980], [ 7500,  2050,  2050,  1980],[15450, 15050, 15550, 14900]]

#*0.014
for d in data: 
    for d1 in d:
        print(d1*0.00014 + d1)

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [113]:
# 192
# 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

# 2000.28
# 3050.427
# 2050.2870000000003
# 1980.2772
# ----
# 7501.05
# 2050.2870000000003
# 2050.2870000000003
# 1980.2772
# ----
# 15452.163
# 15052.107
# 15552.177
# 14902.086000000001
# ----

for d in data: 
    for d1 in d:
        print(d1*0.00014 + d1)
    print("----")

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

In [158]:
# 193
# 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

# >> print(result)
# [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]

result = {}
for d in data: 
    for d1 in d:
        result.append(d1*0.00014 + d1)
print(result)

TypeError: 'int' object is not iterable

In [122]:
# 194
# 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

# >> print(result)
# [
#  [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
#  [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
#  [15452.163, 15052.107, 15552.177, 14902.086000000001]
# ]
result = {}

for d in data: 
    for d1 in d:
        resrul1 = {}
        result1.append(d1*0.00014 + d1)
    result.append(result1)
 print(result)

IndentationError: unindent does not match any outer indentation level (<string>, line 17)

In [134]:
# 195
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

# ohlc = [["open", "high", "low", "close"],
#         [100, 110, 70, 100],
#         [200, 210, 180, 190],
#         [300, 310, 300, 310]]
# 100
# 190
# 310
for row in ohlc[1:]:
    print(row[3])

NameError: name 'ohlc' is not defined

In [136]:
# 196
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

 ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 190
# 310
for data in ohlc[1:4]:
    if int(data) > 150:
        print(data[-1])

IndentationError: unexpected indent (3428235759.py, line 4)

In [138]:
# 197
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

 ohlc = [["open", "high", "low", "close"],
         [100, 110, 70, 100],
         [200, 210, 180, 190],
         [300, 310, 300, 310]]
 # 100
# 310
for data in ohlc[1:4]:
    if data[-1] > data[0]:
        print(data[-1])

NameError: name 'ohlc' is not defined

In [142]:
# 198
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# >> print(volatility)
# [40, 30, 10]
volatility = []
for data in ohlc[1:4]:
    volatility.append(data[1]-data[2])
print(volatility)

[40, 30, 10]

In [146]:
# 199
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

# 10
for data in ohlc[1:4]:
    if data[-1] > data[0]:
        print(data[1]-data[2])

10

In [154]:
# 200
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

# 0
b = 0
for data in ohlc[1:4]:
    a = data[-1]-data[0]
    b += a
print(b)

0