In [52]:
# 001 print 기초
# 화면에 Hello World 문자열을 출력하세요.

print("hello world")

hello world

In [56]:
#002 print 기초
#화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's cocmetics")

Mary's cocmetics

In [54]:
#003 print 기초
#화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

print('신씨가 소리질렀다."도둑이야"')

신씨가 소리질렀다."도둑이야"

In [70]:
#004 print 기초
#화면에 C:\Windows를 출력하세요.

print("C:\\Windows")

C:\Windows

In [78]:
#005 print 탭과 줄바꿈
#다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [80]:
#006 print 여러 데이터 출력
#print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

오늘은 일요일

In [2]:
# 007 print 기초

# print() 함수를 사용하여 다음과 같이 출력하세요.

# naver;kakao;sk;samsung

print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [82]:
#008 print 기초
#print() 함수를 사용하여 다음과 같이 출력하세요.
#naver/kakao/sk/samsung

print("naver/kakao/samsung")

naver/kakao/samsung

In [92]:
#다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

#print("first");print("second")

print("first",end="");print("second")

firstsecond

In [94]:
#010 연산 결과 출력
#5/3의 결과를 화면에 출력하세요.

print("5/3")

5/3

In [4]:
# 011 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

samsung = 50000
print(samsung*10)

500000

In [96]:
#012 변수 사용하기
#다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

#항목	값
#시가총액	298조
#현재가	50,000원
#PER	15.79

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

In [98]:
#013 문자열 출력
#변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"
#두 변수를 이용하여 아래와 같이 출력해보세요.

#실행 예:
#hello! python
print(s+"!"+t)

hello!python

In [8]:
# 014 파이썬을 이용한 값 계산

# 아래 코드의 실행 결과를 예상해보세요.

2 + 2 * 3

8

In [100]:
#type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

#>> a = 128
#>> print (type(a))
#<class 'int'>
#아래 변수에 바인딩된 값의 타입을 판별해보세요.

#>> a = "132"

a = 132
print (type(a))

<class 'int'>

In [14]:
# 016 문자열을 정수로 변환
# 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

num_int = int(num_str)
# type(num_str)
type(num_int)

int

In [16]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [106]:
#017 정수를 문자열 100으로 변환
#정수 100을 문자열 '100'으로 변환해보세요.

#num = 100
num = 100
change = str(num)
print(change, type(change))

100 <class 'str'>

In [112]:
#018 문자열을 실수로 변환
#문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

num = "15.79"
num = float(num)
print(num,type(num))

15.79 <class 'float'>

In [122]:
#019 문자열을 정수로 변환
#year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

#year = "2020"
year = "2020"
print(int(year)-1)

2019

In [18]:
# 020 파이썬 계산
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

month = 48584
print(48584*36)

1749024

In [22]:
month = 48584
all = month*36
print(all)

1749024

In [134]:
#021 문자열 인덱싱
#letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'
#실행 예
#p t

print(letters[0],letters[2])

p t

In [136]:
#022 문자열 슬라이싱
#자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [40]:
# 022 문자열 슬라이싱
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

# >> license_plate = "24가 2210"
# 실행 예: 2210

license_plate = "24가 2210"
print(license_plate[-4:11])

2210

In [ ]:
# 023 문자열 인덱싱
# 아래의 문자열에서 '홀' 만 출력하세요.
# >> string = "홀짝홀짝홀짝"
# 실행 예:
# 홀홀홀

print(string[::2])

In [44]:
# 024 문자열 슬라이싱
# 문자열을 거꾸로 뒤집어 출력하세요.

string = "PYTHON"
# 실행 예:
# NOHTYP

print(string[::-1])

NOHTYP

In [46]:
# 025 문자열 치환
#아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
# 실행 예
# 010 1111 2222
# 정답확인

phone_number.replace("-"," ")

'010 1111 2222'

In [138]:
#026 문자열 다루기
#25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

#실행 예
#01011112222

phone_number = "010-1111-2222"
phone_number.replace("-","")

'01011112222'

In [146]:
#027 문자열 다루기
#url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"

print(url[-2:])

kr

In [148]:
#028 문자열은 immutable
#아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [150]:
#029 replace 메서드
#아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'
#실행 예:
#Abcdfe2A354A32A

string.replace('a','A')

'Abcdfe2A354A32A'

In [ ]:
#030 replace 메서드
#아래 코드의 실행 결과를 예상해보세요.

#>> string = 'abcd'
#>> string.replace('b', 'B')
#>> print(string)

In [152]:
#아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)

34

In [154]:
#032 문자열 곱하기
#아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

HiHiHi

In [156]:
#033 문자열 곱하기
#화면에 '-'를 80개 출력하세요.

#실행 예:
#--------------------------------------------------------------------------------
print('-'*80)

--------------------------------------------------------------------------------

In [158]:
#변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'
#변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

#실행 예:
#python java python java python java python java

print((t1+t2)*3)

pythonjavapythonjavapythonjava

In [162]:
#035 문자열 출력

#변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
#이름: 김민수 나이: 10
#이름: 이철희 나이: 13

print("이름: %s 나이:%d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이:10
이름: 이철희 나이: 13

In [166]:
#036 문자열 출력
#문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
#이름: 김민수 나이: 10
#이름: 이철희 나이: 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [170]:
#037 문자열 출력
#파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
#이름: 김민수 나이: 10
#이름: 이철희 나이: 13

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [186]:
#038 컴마 제거하기
#삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
제거 = (상장주식수.replace(",",""))
print(int(제거),type(제거))

5969782550 <class 'str'>

In [192]:
#039 문자열 슬라이싱
#다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [196]:
#040 strip 메서드
#문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

print(data.strip())

삼성전자

In [200]:
#041 upper 메서드
#다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [202]:
#042 lower 메서드
#다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [210]:
#043 capitalize 메서드
#문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
hello = "hello"
hello.capitalize()

'Hello'

In [214]:
#044 endswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [216]:
#045 endswith 메서드
#파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls"))

True

In [218]:
#047 split 메서드
#다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
a.split()

['hello', 'world']

In [220]:
#048 split 메서드
#다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [222]:
#049 split 메서드
#다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [226]:
#050 rstrip 메서드
#문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "
data.rstrip()

'039490'