In [ ]:
# csv파일 등을 관리하기 위한 것. 다차원 배열로 관리하기가 유용 ai나 머신러닝에도 쓰기 좋음

In [ ]:
# pandas
#시리즈는 데이터 한줄, 여러줄은 데이터프래임 2차원

In [4]:
import pandas as pd
import numpy as np
#series
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9 ])
print(type(s))
print(s.index)
print(s.dtype)
print(s)
s.index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
print(s)

<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=9, step=1)
int64
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
A    1
B    2
C    3
D    4
E    5
F    6
G    7
H    8
I    9
dtype: int64

In [18]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9 ], ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'])
print(s)
print(s.index)
print(s.values)
print(s[0])
print(s['A'])
print(s.A)
print(s[0:5])
print(s['A':'D']) #인덱스 대용들

A    1
B    2
C    3
D    4
E    5
F    6
G    7
H    8
I    9
dtype: int64
Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], dtype='object')
[1 2 3 4 5 6 7 8 9]
1
1
1
A    1
B    2
C    3
D    4
E    5
dtype: int64
A    1
B    2
C    3
D    4
dtype: int64

C:\Users\leehi\AppData\Local\Temp\ipykernel_13712\3518724605.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [30]:
#Dictionary -> Series
d = {'A':10, 'D':20, 'F':30, 'H':40}
print(type(d))
for key, value in d.items():  #반복문 돌릴때, 튜플로 돌려서
    print(key, ":", value)
print(d['A'])
#print(d.A)        #error
#print(d[0:3])     #error
#print(d['A':'D']) #error 즉 딕셔너리는 슬라이싱 불가능하나 시리즈는 가능함
s = pd.Series(d)
print(s.index)
print(s.values)
print(s['A'])
print(s.A)
print(s[0:3])
print(s['A':'F'])

<class 'dict'>
A : 10
D : 20
F : 30
H : 40
10
Index(['A', 'D', 'F', 'H'], dtype='object')
[10 20 30 40]
10
10
A    10
D    20
F    30
dtype: int64
A    10
D    20
F    30
dtype: int64

In [46]:
#Dataframe
#dictionary -> dataframe 키 하나에 데이터 여러개인 경우
d = {
    'name' : [ 'kim', 'lee', 'park', 'jung'],
    'age' : [ 25, 30, 35, 20],
    'tel' : ['1111-2222', '2222-1111', '3333-1111', '2222-33333']
}
print(type(d))
df = pd.DataFrame(d)
print(df)
print(df.index)
print(df.columns)
print(df.values)  #애넨 넘파이 인덱스로 출력됨
df.index.name = 'num'
df.columns.name = 'user'
print(df.index)
print(df.columns)

<class 'dict'>
   name  age         tel
0   kim   25   1111-2222
1   lee   30   2222-1111
2  park   35   3333-1111
3  jung   20  2222-33333
RangeIndex(start=0, stop=4, step=1)
Index(['name', 'age', 'tel'], dtype='object')
[['kim' 25 '1111-2222']
 ['lee' 30 '2222-1111']
 ['park' 35 '3333-1111']
 ['jung' 20 '2222-33333']]
RangeIndex(start=0, stop=4, step=1, name='num')
Index(['name', 'age', 'tel'], dtype='object', name='user')

In [69]:
#numpy -> dataframe
n = np.array(
    [['kim', 20, '1111-2222'],
      ['lee', '30', '2222-1111'],
     ['park', 35, '3333-2222'],
     ['jung', 25, '3333-1111']]
)
print(type(n))
df = pd.DataFrame(n)
df.columns = ['name', 'age', 'tel']
df. index = ['A', 'B', 'C', 'D']
print(df)
print(df.columns)
df = pd.DataFrame(n, columns=['name', 'age', 'tel'], index=['A', 'B', 'C', 'D'])
print(df)
print(df.describe())        #count는 개숫, unique는 다 값이 다르다, top은 값이 젤큰것, freq는 겹치는 것

<class 'numpy.ndarray'>
   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  25  3333-1111
Index(['name', 'age', 'tel'], dtype='object')
   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  25  3333-1111
       name age        tel
count     4   4          4
unique    4   4          4
top     kim  20  1111-2222
freq      1   1          1

In [83]:
print(df['name']) #한줄만 꺼내면 시리즈로 나옴
print(df[['name','tel']])
print(df['name'][2])
print(df['name']['C'])
print(df['name'].C)
print(df['name']['B':'D'])
print(df.name, df.age)
print(df.name.C)

A     kim
B     lee
C    park
D    jung
Name: name, dtype: object
   name        tel
A   kim  1111-2222
B   lee  2222-1111
C  park  3333-2222
D  jung  3333-1111
park
park
park
B     lee
C    park
D    jung
Name: name, dtype: object
A     kim
B     lee
C    park
D    jung
Name: name, dtype: object A    20
B    30
C    35
D    25
Name: age, dtype: object
park

C:\Users\leehi\AppData\Local\Temp\ipykernel_13712\3716037013.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df['name'][2])

In [93]:
print(df[:][:]) 
print(df[:2][:1])
print(df[['name', 'tel']])
#print(df[[0,2]]) 에러 컬럼명이 있는 경우 숫자 쓰면 안됨
#print(df[0][0])  에러 그러나 시리즈는 됨. 데이터 프래임 자체에서는 컬럼명있음 숫자 쓰면 안됨

   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  25  3333-1111
  name age        tel
A  kim  20  1111-2222
   name        tel
A   kim  1111-2222
B   lee  2222-1111
C  park  3333-2222
D  jung  3333-1111

In [107]:
#컬럼 추가하고 싶을때, 단 수 맞춰줘야함
df['address'] = ['서울', '수원', '인천', '안산']
# df['adult'] = df['age'] > '30' #논리값임
df['age']['A'] = 30
df['adult'] = df['age'].astype(np.int32)>30
print(df)

   name age        tel address  adult
A   kim  30  1111-2222      서울  False
B   lee  30  2222-1111      수원  False
C  park  35  3333-2222      인천   True
D  jung  25  3333-1111      안산  False

C:\Users\leehi\AppData\Local\Temp\ipykernel_13712\1764906969.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['age']['A'] = 30
C:\Users\leehi\AppData\Local\Temp\ipykernel_13712\1764906969.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age']['A'] = 30

In [119]:
# Series 정렬
s = pd.Series([10, 40, 50,20, 70, 60], index=['a', 'd', 'f', 'g', 'b', 'c'])
s = s.sort_index(ascending = False)
s = s.sort_values()
print(s)

a    10
g    20
d    40
f    50
c    60
b    70
dtype: int64

In [147]:
# DataFrame 정렬
df = pd.DataFrame([[4,5,40,2],
                  [300, 10, 200, 2],
                  [20, 400, 4, 30]], index = ['c', 'a', 'b'], columns=['B', 'D', 'A', 'C'])
print(df)
df = df.sort_index()  #index
df = df.sort_index(axis = 0)
df = df.sort_index(axis = 1, ascending=False) #columns

df = df.sort_values(by='A', ascending=False) #행끼리
df = df.sort_values(by=['A', 'B'])
df = df.sort_values(by='b', axis = 1) #열끼리
print(df)

     B    D    A   C
c    4    5   40   2
a  300   10  200   2
b   20  400    4  30
     A    B   C    D
b    4   20  30  400
c   40    4   2    5
a  200  300   2   10

In [157]:
#슬라이싱
# .iloc  정수 인덱스
# .loc   라벨(이름) 인덱스
# .ix    desprecated (옛날 방식이라 쓰지 말아라)

#list
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(m)
print(m[2][2])
print(m[:][:])
print(m[:2][:2]) #상위 2줄 출력됨 어제 배움, 리스트 안됨
print(n[:2, :2])   #넘파이와 리스트 가장 큰 차이는 안에다가 컴마를 두고 적을 수있다. 행이 01, 열이 01임
#pandas
df = pd.DataFrame(n)
print(df)
print(df[2][2])
print(df[:][:])
print(df[:2][:2])
# print(df[:2, :2] error

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6]]
[['kim' '20']
 ['lee' '30']]
      0   1          2
0   kim  20  1111-2222
1   lee  30  2222-1111
2  park  35  3333-2222
3  jung  25  3333-1111
3333-2222
      0   1          2
0   kim  20  1111-2222
1   lee  30  2222-1111
2  park  35  3333-2222
3  jung  25  3333-1111
     0   1          2
0  kim  20  1111-2222
1  lee  30  2222-1111

In [163]:
# iloc
df = pd.DataFrame(np.arange(1, 21).reshape(5, 4), columns=['A', 'B', 'C', 'D'])
print(df)
#prnit(df [2][2]) error
print(df['c'][2])
print(df[['A', 'D']])
#print(df['A' : 'C']) error
print(df.iloc[:2, :2])
print(df.iloc[:3:2, :3:2])
print(df.iloc[

    A   B   C   D
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  19  20

In [173]:
#loc
print(df)
#print(df.loc[2, 2]) error
print(df.loc[2, 'C'])
#print(df.loc[:2, :2]) error 열자리에 숫자 들어가면 안됨
print(df.loc[:2, :'C']) #문자(라벨)로 찍으면 잘됨
print(df[:2])
print(df.loc[1:3, 'B':'D'])
print(df.loc[:, 'C'])
print(df.loc[:, ['B','D']])
print(df[['B','D']])

    A   B   C   D   E
0   1   2   3   4  31
1   5   6   7   8  32
2   9  10  11  12  33
3  13  14  15  16  34
4  17  18  19  20  35
11
   A   B   C
0  1   2   3
1  5   6   7
2  9  10  11
   A  B  C  D   E
0  1  2  3  4  31
1  5  6  7  8  32
    B   C   D
1   6   7   8
2  10  11  12
3  14  15  16
0     3
1     7
2    11
3    15
4    19
Name: C, dtype: int32
    B   D
0   2   4
1   6   8
2  10  12
3  14  16
4  18  20
    B   D
0   2   4
1   6   8
2  10  12
3  14  16
4  18  20

In [185]:
df = pd
df['E'] = [31, 32, 33, 34, 35]
# df.iloc[:, 5] = [40, 41, 42, 43, 44] error 열추가 힘듦
# df.iloc[5, :] = [90,91, 92, 93, 94]       #행에 추가 이것도 에러 iloc는 추가가 안됨
df.loc[5] = [90,91, 92, 93, 94] #loc쓰면 행추가가능. 열추도 다 가능 
df.loc[:, 'F'] = [40, 41, 42, 43,44, 45]
df.loc[0, 'A'] = 99
df.loc[1, 'A':'C'] = [100, 101, 102]
print(df)

del(df['E'])
#del(df.loc[:, 'F']) 에러
#df.drop('F') 이건 열을 지우란 건데 열에 에프가 없어서 에러가 남
df.drop('F', axis=1)
print(df)

ValueError: Length of values (5) does not match length of index (6)

In [207]:
#boolean indexing 요소값으로도 갖고 나올 수 있음
df = pd.DataFrame(
    [['kim', 20, '1111-2222'],
      ['lee', '30', '2222-1111'],
     ['park', 35, '3333-2222'],
     ['jung', 25, '3333-1111'],
     ['hong', 40, '1111-3333']], columns=['name', 'age', 'tel']
)
print(df)

print(df.loc[3, 'name'])
# print(df.loc[df['age']>30, ['name', 'age']])
print(df.loc[df['name'] == 'kim', :])
print(df.loc[(df['age']>20)&(df['age']<40), 'name':'tel'])

   name age        tel
0   kim  20  1111-2222
1   lee  30  2222-1111
2  park  35  3333-2222
3  jung  25  3333-1111
4  hong  40  1111-3333
jung
  name age        tel
0  kim  20  1111-2222

In [219]:
# 결측값 대체/비어있는 것을 채우는 것
df['address'] = ['서울', np.nan, np.nan, '수원', np.nan]
print(df.loc[df['address'] == np.nan, 'address'])
print(df.loc[df['address'].isnull(),'address']) #반드시 isnull로 데이터 찾아야함. nan한다고 못찾음
df.loc[df['address'].isnull(), 'address'] = '서울'

df.loc[df['address'] =='', 'address'] = '서울' #''을 사용해 골라 낼 수도 잇음
print(df)

Series([], Name: address, dtype: object)
1    NaN
2    NaN
4    NaN
Name: address, dtype: object
   name age        tel address
0   kim  20  1111-2222      서울
1   lee  30  2222-1111      서울
2  park  35  3333-2222      서울
3  jung  25  3333-1111      수원
4  hong  40  1111-3333      서울

In [245]:
#결측값 제거

df.loc[::2,'tel'] = np.nan
df.loc[5, :] = [np.nan, np.nan, np.nan, np.nan]
# df.dropna(how='all', inplace=True)
df['income'] = [300, np.nan, 400, 500, np.nan, 300]
df.fillna({'address':'서울'}, inplace=True) 
df.fillna({'income': np.mean(df['income'])}, inplace = True)
print(df)

ValueError: Must have equal len keys and value when setting with an iterable

In [253]:
#pandas 함수
df = pd.DataFrame(
    [['kim', 90, 80, 70],
     ['lee', 45, np.nan, 55 ],
     ['park', 76, 77, 83 ],
     ['hong', 67, 73, 77 ],
     ['kang', 35, 58, 53 ], 
     ['jang', np.nan, np.nan, np.nan]]columns=['name', 'kor', 'eng', 'mat']
)
print(df)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3542124252.py, line 3)